.toolbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: var(--height_navbar);
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: var(--default_color);
  font-weight: 600;
  border-bottom: 2px solid var(--default_color);

  a {
    text-decoration: none;
    color: var(--default_color);
  }

  img {
    margin: 0 15px;
  }

  .spacer {
    flex: 1;
  }
}
